<header class="fixed top-0 w-full z-50 bg-white/70 backdrop-blur-xl shadow-xl shadow-slate-900/5 transition-all">
  <div class="flex justify-between items-center px-8 py-4 max-w-7xl mx-auto">
    <div class="text-2xl font-bold tracking-tighter text-blue-800 font-headline">GriffonVet</div>
    <nav class="hidden md:flex items-center space-x-8 font-plus-jakarta text-sm tracking-tight">
      <a class="text-blue-700 font-bold border-b-2 border-blue-600 transition-all" href="#">Inicio</a>
      <a class="text-slate-600 hover:text-blue-600 transition-all" href="#">Productos</a>
      <a class="text-slate-600 hover:text-blue-600 transition-all" href="#">Turnos</a>
      <a class="text-slate-600 hover:text-blue-600 transition-all" href="#">MisMascotas</a>
    </nav>
    <div class="flex items-center gap-4">
      <button class="px-6 py-2 rounded-full border border-outline-variant text-primary font-bold text-xs uppercase tracking-widest hover:bg-blue-50/50 transition-all">Login</button>
      <div class="w-10 h-10 rounded-full bg-surface-container-highest overflow-hidden">
        <img alt="User avatar" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAvNgUcaWA6nNc_jmVGpq7-xywixnJQK9Xh-8wxn3zZeBWQn072VxVUYxCAh8S9ksRti4Tn-tdrLTxqWsfFCdjHxkHU_59AhK2LiW2JGOW4N5YGa20U7UMF19DdudnhK-YuE9UureRfPEJxuY3j06Ll4aKnZyv2sdYqHc3f2SlCKHnWB4ITqSDglxgvS-SOi89b5pjT92XBtBRzs9nfAhUl8G9oyYY5NZk5wolA2Qpcn9vbS1sV9VqOmDEngMq4LjbxULEyNBMuUg"/>
      </div>
    </div>
  </div>
</header>